doctype 5
html
  head
    title #{title}
    block head
      script(src='//code.jquery.com/jquery.min.js', charset='utf-8')
      link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
    body
      block content
