extends layout

block append head
 script(src='/socket.io/socket.io.js', charset='utf-8')
 script(src='js/monitor.js', charset='utf-8')
 script(src='js/rickshaw/rickshaw.min.js', charset='utf-8')
 script(src='js/rickshaw/vendor/d3.min.js', charset='utf-8')
 script(src='js/rickshaw/vendor/d3.layout.min.js', charset='utf-8')
 script(src='js/knockout-2.2.0.js', charset='utf-8')
 script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js', charset='utf-8')

 link(href='css/monitor.css', rel='stylesheet', media='screen')
 link(href='css/rickshaw/rickshaw.min.css', rel='stylesheet', media='screen')

block content
  .container
        h1.
          Caffine Monitor
        br
        br
      div(class='container-fluid')
        #stats(class='row-fluid')
           
            #drinkcontainer(class='span4')
                 div(class='row')
                  div(class='span12')
                    p Drinks Consumed:
                      span(data-bind="text: drinks")
                    small Drinks per Attendee:
                    span 
                     small(data-bind="text: drinksPerAttendee")
                    p

                 div(class='row')
                  div(class='span12')
                    p mg of Caffeine Consumed:
                      span(data-bind="text: mg")
                    small mg per Attendee:
                    span 
                     small(data-bind="text: mgPerAttendee")
                    p

                 div(class='row')
                  div(class='span12')
                    p Litres of Caffeine Consumed:
                      span(data-bind="text: litres")
                    small Leathal doses (mongoose):
                    span 
                     smallspan(data-bind="text: lethal")
                      
            div(class='span8')
                #chart_container
                 #chart
                 #y_axis
                #legend_container
                #legend
        