extends layout

block append head

block content
  .container
    h1
      | POS
    div
      each drink in drinks
        a(href='#', id='#{drink.id}', class='pos-action btn btn-large btn-block')
          = drink.id
