extends layout

block content
  script(src='js/caffeine.js', charset='utf-8')
  .container
    h1
      | POS
    div
      each drink in drinks
        a(href='#', id='#{drink.id}', class='pos-action btn btn-large btn-block')
          = drink.name
