#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
#legend {
        display: absolute;
        vertical-align: bottom;
        margin: 50 50 50 10px;
}

p{
	font-size: 1.5em;
}

span{
	font-size: 1.1em;
	color: green;
}

span.small{
	font-size: 1em;
}